* {
    font-family: 'Futura PT';
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu_link{
    
}
.li_flex{
    display: flex;
}